*{
  
  box-sizing: border-box;
}

body{
  margin: 0%;
  padding: 0%;
  font-family: Inter,sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav{
  display: flex;
  background-color: #21222A;
  align-items: center;
  padding: 30px 25px;
height: 90px;
}

nav>h3>, nav > h4{
  margin: 0;
}

nav >h3{
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}
nav > h4{
  color:#DEEBF8;
  font-weight: 600;
}

nav > img{
    height: 40px;
    margin-right: 30px;
}

/* main element */
main{
  padding: 57px 27px;
  color: white;

  background-image: url("../public/react-bg.jpg");
  background-position: right 75%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 50% 100%;
}

.main--title{
margin: 0%;
font-size: 39px;
letter-spacing: -0.05em;
}

.main--facts{
  margin-top: 46px;
}

.main--facts>li{
  line-height: 19px;
  padding-block: 10px;
  max-width: 400px;
}

.main--facts>li::marker{
  font-size: 1.4rem;
  color: #61dafb;

}