body {
  margin: 0;
  font-family: 'popins',sans-serif;
}

/* Navigation  */
nav{
  height: 70px;
  display: flex;
  /* background-color: bisque; */
  padding: 20px 36px;
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0,0.1);
}

.nav--logo{
  max-width: 25%;
}

/* Hero component */

.hero--image{
  width: 50%;
  margin: 1em;
  margin-top: 2em;
  /* height:70%; */
  /* height: fit-content; */
  /* border: 2px solid red; */
}




/* card image */
.card-img-top{
  height:70%;
}
/* card container */
.cardContainer{
  padding:1em;
  display:flex;
  /* align-items:center; */
   justify-content: center;
  /* justify-items:center; */
  gap:3em;
  height:auto;
} 

/* card sold out badge */
 .card-badge{
  position:absolute;
  top:6px;
  left:6px;
  background-color:white;
  padding:5px 7px;
 }
