body {
  margin: 0;
  font-family: 'popins',sans-serif;
}

/* Navigation  */
nav{
  height: 70px;
  display: flex;
  /* background-color: bisque; */
  padding: 20px 36px;
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0,0.1);
}

.nav--logo{
  max-width: 25%;
}

/* Hero component */

.hero--image{
  width: 50%;
  margin: 1em;
  margin-top: 2em;
  height: fit-content;
  /* border: 2px solid red; */
}


/* card component */
.card{
  margin: 1em auto;
}
